* {
  box-sizing: border-box;
  padding: 0 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.product {
  display: grid;
  column-gap: 10px;
  grid-template-columns: 20% 80%;
}

.left-sidebar {
  border-right: solid 1px crimson;
}

.left-sidebar .sidebar-content {
  padding: 20px 30px;
}

.product-list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: -20px;
  text-align: center;
}

.product-item {
  width: calc(100% / 4 - 20px);
  overflow: hidden;
  margin-left: 20px;
  margin-bottom: 20px;
}

.product-item .product-content {
  border: solid 2px crimson;
  border-radius: 15px;
  padding: 20px;
}

.product-item .product-content:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.product-item .product-image img {
  width: 100%;
  transition: 0.4s;
}

.product-item .product-image img:hover {
  transform: scale(1.1);
}

.product-item .product-info h4 {
  font-size: 18px;
  padding: 0 5px;
  margin-top: 0;
}

.product-item .product-info .product-name {
  color: crimson;
}

.product-item .product-info .product-price {
  font-style: italic;
}

.product-item .btn {
  width: 100%;
}

.product-item .btn button {
  width: 100%;
  padding: 10px;
  background: crimson;
  border: 1px solid gray;
  outline: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
  transition: 0.5s;
}

.product-item .btn button:hover {
  background-color: #fff;
  color: crimson;
}

#tblGioHang .td-img {
  text-align: center;
}

#tblGioHang img {
  width: 100px;
}

#tblGioHang span {
  margin-right: 20px;
}

#tblGioHang button {
  background-color: white;
  cursor: pointer;
}

#tblGioHang button:hover {
  color: crimson;
  border: solid 2px crimson;
}

.payment {
  display: grid;
  grid-template-columns: 70% 10% 20%;
  margin: 50px 0;
}

.payment .pay-title {
  display: flex;
  justify-content: flex-end;
}

.payment .pay-money{
  color: crimson;
  font-size: 22px;
  font-weight: bold;
}

.payment .pay-btn{
  margin-top: -10px;
}

.payment .pay-btn .btn{
  width: 100%;
}
